.navbar {
    position: relative;
    display: flex;
    user-select: none;
    width: 100%;
    align-items: center;
    height: 4rem;
    letter-spacing: 2.5px;
    color: var(--primary-color);
    box-shadow: var(--dark-shadow); 
}
.navbar__content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.navbar__switch {
    position: absolute !important;
    right: 20px;
}
.ant-switch-checked {
    background: var(--primary-color) !important;
}
.navbar__logo > a {
    border: 0;
}
.ud_login{
    margin-left: 4rem;
}