.address__form {
    display: flex;
}
.address__form:not(:last-child){
    
}
.address__inp {
    min-width: 600px;
}
.address__select {
    min-width: 200px;
    letter-spacing: 0;
}
.search__btn {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.search__btn:hover{
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important ;
}