.address__form {
    display: flex;
}
.address__inp {
    margin-right: 20px !important;
}
.address__select {
    min-width: 200px;
    letter-spacing: 0;
    margin-right: 20px !important;
}
.address__inp>input::placeholder{
    color: var(--primary-color) !important;
}
.ant-select-selection-placeholder {
    color: var(--primary-color) !important;
}
.search__btn {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.search__btn:hover{
    background-color: var(--hover-color) !important;
    border-color: var(--hover-color) !important ;
}