.info__row{
    font-size: 14px;
}
.info_space {
    box-sizing: border-box !important;
    height: 0.5px !important;
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
    color: grey;
}