* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html {
    height: 100%;
}
a{
    text-decoration: none !important;
    color: var(--primary-color) !important;
}
a:hover{
    border-bottom: 1px solid var(--primary-color);
}

li {
    list-style-type: none;
}
body {
    margin: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    background-color: var(--main-bg) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 100% !important;
    line-height: 1;
}


.wrapper {
    max-width: 1240px;
    margin: 0px auto;
    padding: 0px 50px;
    box-sizing: content-box;
}
.page {
    margin-top: 2rem;
    min-height: 330px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: var(--light-shadow);
    color: var(--text-color);
}
.loader {
    color: var(--primary-color);
}

html[data-theme = 'light'] {
    --main-bg: rgb(255, 255, 255);
    --primary-color: rgb(255, 76, 126);
    --text-color: rgb(0, 0, 0);
    --hover-color: #df3666;
    --dark-shadow: 0px 0px 12px 4px rgba(0, 4, 38, 0.3);
    --light-shadow: 0px 0px 12px 2px rgba(0, 4, 38, 0.3);
}

html[data-theme = 'dark'] {
    --main-bg: rgb(33, 37, 41);
    /* --primary-color: rgb(209, 148, 35); */
    --primary-color: rgb(255, 76, 126);
    --hover-color : #df3666;
    --text-color: rgb(255, 255, 255);
    /* --dark-shadow: 0px 0px 12px 4px rgba(199, 198, 198, 0.3); */
    --dark-shadow: 0px 0px 12px 4px rgba(255, 76, 126, 0.2);
    --light-shadow: 0px 0px 12px 2px rgba(255, 76, 127, 0.2);
}

::-webkit-scrollbar {
    width: 0;
}
